/* positions and displays */

.position-fixed {
    position: fixed;
}

.position-absolute {
    position: absolute;
}

.inline-block {
    display: inline-block;
}

.display-flex {
    display: flex;
}